* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 1rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 1rem 2rem;
}

.logo {
    width: 120px;
}

.navItems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    list-style: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.navBtn {
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    background: #000;
    color: orange;
    border: 0;
    cursor: pointer;
}

/* body starts */
.body {
    background-color: #f0f0f0;
    padding: 1.7rem 0;
}

#featureBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    row-gap: 1.2rem;
    column-gap: 2rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input,
.search button {
    padding: 0.7rem;
    outline: none;
    border: 0;
    font-size: 1.3rem;
}

.search input {
    color: #000;
    font-weight: 600;
}

.search button {
    background: rgb(231, 150, 0);
    color: #000;
    font-weight: 600;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}

#topRatedRestroBtn {
    padding: 0.7rem;
    font-size: 1.3rem;
    background: #000;
    color: orange;
    font-weight: 500;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
}

/* restroCard Starts */
.restroCardContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 2rem;
    /* align-items: center; */
    justify-content: center;
}

.restroCard {
    width: 270px;
    height: 450px;
    background-color: #dbdbdb;
    padding: 1rem;
    /* transition: all ease-in 500ms; */
    border-radius: 15px;
    cursor: pointer;
}

.restroCard:hover {
    border: 1px solid #b6b1b1;
}

.restroCard:hover img {
    object-fit: cover;
    transition: all ease-in 1s;
}

.restroCard img {
    width: 100%;
    height: 170px;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

.restroCard h2 {
    /* font-size: 1.6rem; */
    font-weight: 800;
}

.restroCard h3 {
    color: #433c3c;
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.restroCard div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.restroCard div h4 {
    font-size: 1.1rem;
}

.restroCard h4 {
    font-size: 1.25rem;
}


/* restromenu info start */
.restroInfo {
    text-align: center;
    padding-block: 0.5rem;
}

.restroMenuInfo {
    width: 60%;
    background-color: #dbdbdb;
    margin: 1rem auto;
    padding: 1rem;
}

.restroMenuCategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.itemList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.5rem;
    gap: 1rem;   
    border-bottom: 1px solid gray;
}

.itemInfo {
    width: 70%
}

.itemImage {
    width: 20%
}

.itemImage img {
    width: 100%;
    object-fit: cover;
    height: 100px;
    border-radius: 10px;
}

/* shimmer ui starts */
.shimmerRestroCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shimmerRestroCard {
    width: 240px;
    height: 350px;
    background-color: rgb(192, 192, 192);
    /* padding: 1rem 2rem; */
    margin: 1rem;
    border-radius: 10px;
}

.shimmerBtns {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 1rem 0;
}

.shimmerBtn {
    width: 220px;
    height: 50px;
    background-color: rgb(207, 207, 207);
    display: block;
    outline: none;
    border: 0;
}

.shimmerSearch {
    display: flex;
}

.shimmerSearchBtn {
    width: 70px;
    height: 50px;
    background-color: rgb(166, 166, 166);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* shimmer ui ends */

/* @media (){} */